{% extends 'base.html' %}

{% block title %}Mis Documentos{% endblock %}

{% block contenido %}
<h1>Mis documentos</h1>
<ul>
    {% for doc in documentos %}
        <li>
            {{ doc.titulo }} — 
            {{ doc.area }} — 
            {% if doc.procesado %}
                ✅ Procesado
            {% else %}
                ⏳ Pendiente
            {% endif %}
            {% if doc.procesado %}
                - <a href="{% url 'chat_documento' documento_id=doc.id %}">CHATEAR</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'subir_documento' %}">Subir nuevo documento</a>
{% endblock %}